command_prefix = ["A.", "a.", ] # or string, e.g. "A."
case_sensitive = false
owner_ids = [123456789]
bot_token = "TOKEN"
initial_extensions = [
    "jishaku",
    "cogs.misc",
    "cogs.fishing",
    ]
activity = "the fish swim around" # Will show as 'Watching <strong>the fish swim around</strong>'

[database]
host = "127.0.0.1"
port = 5432
user = "postgres"
database = "aqua"
password = "PASSWORD"

[assets]
asefiles = "./assets/asefiles"
    
    [assets.images]
    fish = "./assets/images/fish"
    background = "./assets/images/background"