{% extends 'base.html.j2' %}


{% block title %}AquaMarine - Index{% endblock title %}


{% block content %}

<h1>AquaMarine</h1>
<h1>A Discord bot where you can virtually catch and take care of cute pixel aquatic animals</h1>

    <div class="fish-info">
        <h1 class="0 fish-name"></h1>
        <img class="fish-image" src="{{ static('/images/fish.png') }}" />
        <div class="fish-stats">
            <p class="fish-rarity"></p>
            <p class="fish-size"></p>
            <p class="fish-location"></p>
        </div>
    </div>

    <div class="fish-info" id="main">
        <h1 class="fish-name"></h1>
        <img class="fish-image" src="{{ static('/images/fish.png') }}" />
        <div class="fish-stats">
            <p class="fish-rarity"></p>
            <p class="fish-size"></p>
            <p class="fish-location"></p>
        </div>
        <button class="go-left">Left</button>
        <button class="go-right">Right</button>
    </div>

    <div class="fish-info">
        <h1 class="fish-name"></h1>
        <img class="fish-image" src="{{ static('/images/fish.png') }}" />
        <div class="fish-stats">
            <p class="fish-rarity"></p>
            <p class="fish-size"></p>
            <p class="fish-location"></p>
        </div>
    </div>

    <script>
        async function setCurrentFish() {
            let current = parseInt(document.getElementsByClassName("fish-name")[0].classList[0]);
            for (let i=0; i<3; i++) {
                document.getElementsByClassName("fish-name")[i].innerHTML = fish_objects[i+current].name;
                document.getElementsByClassName("fish-image")[i].innerHTML = fish_objects[i+current].image;
                document.getElementsByClassName("fish-image")[i].innerHTML = fish_objects[i+current].image;
                document.getElementsByClassName("fish-rarity")[i].innerHTML = fish_objects[i+current].rarity;
                document.getElementsByClassName("fish-size")[i].innerHTML = fish_objects[i+current].size;
                document.getElementsByClassName("fish-location")[i].innerHTML = fish_objects[i+current].location;
            }
        }
        setCurrentFish();
    </script>

{% endblock content %}